:root {
  /**
  React Toastify
  */
  --toastify-color-warning: rgb(255, 163, 24);
  --toastify-toast-shadow: 0 5px 15px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.3);

  /**
  DSG
  */
  --dsg-cell-disabled-background-color: rgba(0, 0, 0, 0.04);
  /* --dsg-cell-disabled-background-color: rgba(0, 0, 0, 0.03); */
  /* --dsg-border-color: rgba(0,0,0,0.09); */
  /* --dsg-border-color: rgb(0 0 0 / 0.08); */
  /* --dsg-selection-border-color: rgb(69,128,230); */
  --dsg-selection-border-color: #00bdd1;
}

.dsg-add-row>* {
  margin-right: 0;
}

/* 根據 toast 類型設定左邊邊框和進度條顏色 */
/* 
.toast-success {
  border-left: 6px solid var(--toastify-color-success) !important;
}

.toast-error {
  border-left: 6px solid var(--toastify-color-error) !important;
}

.toast-info {
  border-left: 6px solid var(--toastify-color-info) !important;
}

.toast-warning {
  border-left: 6px solid var(--toastify-color-warning) !important;
} 
*/
